@import '../variables';

.categories {
	ul {
		display: flex;

		li {
			padding-left: 10px;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				color: rgb(255, 69, 0);
			}

			&:active {
				color: rgb(255, 69, 0);
			}

			&.active {
				color: rgb(255, 69, 0);
			}
		}
	}
}
